.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
.note1
{
    font-size: 15px;
    color: black;
}
body
{
    background-size: cover;
}
#song_name
{
    font-size: 23px;
}
canvas
{
    padding: 50px;
    border-radius: 10%;
    border-color: aqua;
    margin: auto;
}